---
import Layout from '@layouts/Layout.astro';
import SectionTitle from '@components/SectionTitle.astro';
import SectionParagraph from '@components/SectionParagraph.astro';
---

<Layout title="Guilherme Kuniyoshi - About">
  <SectionTitle>Work</SectionTitle>
  <div class="mt-4">
    <SectionParagraph>I'm a Frontend Engineer based in Brazil.</SectionParagraph>
    <SectionParagraph>
      I have more than 6 years of experience with Software Engineering, working with multiple
      technologies from Backend to Frontend.
    </SectionParagraph>
    <SectionParagraph
      >Currently, I'm working for an international company called Ambush and my stack is mainly
      focused on React, React Native, JavaScript and TypeScript.
    </SectionParagraph>
    <SectionParagraph>
      Through Ambush, I'm working for some of the biggest international restaurant/fast-food
      companies in the world, helping them to build and maintain their whitelabel Mobile App,
      impacting thousands of customers in United States and Canada.
    </SectionParagraph>
  </div>

  <SectionTitle>Hobbies & Fun facts</SectionTitle>
  <div class="mt-4">
    <SectionParagraph>I have 11 cats and 2 dogs living with me and my girlfriend.</SectionParagraph>
    <SectionParagraph>I'm obsessed with One Piece and other Shonen Animes.</SectionParagraph>
    <SectionParagraph>My favorite food is Karê Karaguê.</SectionParagraph>
  </div>
</Layout>
