---
import Layout from '@layouts/Layout.astro';
import GradientText from '@components/GradientText.astro';
---

<Layout title="Guilherme Kuniyoshi">
  <h1 class="text-3xl font-bold">
    Hey there, <GradientText class="text-3xl ml-1 font-bold">I'm Guilherme</GradientText>
  </h1>
</Layout>
