---
import Layout from '@layouts/Layout.astro';
import GradientText from '@components/GradientText.astro';
---

<Layout title="Guilherme Kuniyoshi">
  <h1 class="text-3xl font-bold mt-2">
    Hey there, <GradientText class="text-3xl ml-1 font-bold">I'm Guilherme.</GradientText>
  </h1>
  <h2 class="text-2xl mt-2">I'm a Senior Software Engineer focused on Frontend Development.</h2>
</Layout>
