---
import Layout from '@layouts/Layout.astro';
import GradientText from '@components/GradientText.astro';
---

<Layout title="Guilherme Kuniyoshi">
  <GradientText class="text-3xl font-bold mt-2">Hey there, I'm Guilherme.</GradientText>
  <h2 class="text-2xl mt-4">I'm a Senior Software Engineer focused on Frontend Development.</h2>
</Layout>
