---
const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    @apply hover:underline inline-flex gap-4 text-xl ml-8;
  }
  a.active {
    @apply text-yellow-500 underline-offset-1;
  }
</style>
