---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout>
  <h1 class="text-5xl font-bold mb-4 my-4 leading-snug">
    {frontmatter.title}
  </h1>
  <p class="text-xl">Written by {frontmatter.author}</p>
  <p class="text-xl">Published on: {frontmatter.pubDate}</p>
  <slot />
</Layout>
